<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Ejs</title>
  </head>
  <body>
    <h1>Server Side Rendering using EJS</h1>
    <form>
      <label for="name">Name:- </label>
      <input type="text" id="name" class="name" />
      <label for="email">Email :-</label>
      <input type="text" id="email" class="email" />
      <label for="message">Message :-</label>
      <textarea name="message" id="message" required></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
