body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #181616, #ea1a1a);
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #333;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  transition: color 0.3s;
}

h1:hover {
  color: #fc0c2c;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  height: 30px;
  width: 100px;
}

button:hover {
  background-color: #0056b3;
}

input[type="checkbox"] + label,
input[type="checkbox"]:hover + label,
input[type="radio"] + label,
input[type="radio"]:hover + label {
  color: #007bff;
  transition: color 0.3s;
  cursor: pointer;
}

input:hover,
textarea:hover,
select:hover,
button:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: #0056b3;
  text-decoration: none;
}

#home h2 {
  font-size: 2em;
  color: #28a745;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}

#home p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 10px;
  text-align: center;
}

#about h2 {
  font-size: 2em;
  color: #dc3545;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}

#about p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 10px;
  text-align: center;
}

#form form {
  margin-top: 20px;
}

#form label {
  display: block;
  margin-bottom: 5px;
}

#form input,
#form textarea,
#form select,
#form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

#form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  height: 30px;
  width: 100px;
}

#form button:hover {
  background-color: #0056b3;
}

#form input:hover,
#form textarea:hover,
#form select:hover,
#form button:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
